﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Manga
@{
}


<!DOCTYPE html>
<html>
<head>
    <title>Crear manga</title>
    <link rel="stylesheet" href="~/css/mangas.css">
</head>
<body>

    <form method="post">

        <div class="col">
            <label asp-for="Nombre">Nombre del Manga</label>
            <input type="text" class="form-control" asp-for="Nombre" />
            <span class="text-danger" asp-validation-for="Nombre"></span>
        </div>


        <div class="col">
            <label asp-for="Precio">Precio</label>
            <input type="number" class="form-control" asp-for="Precio" />
            <span class="text-danger" asp-validation-for="Precio"></span>
        </div>


        <div class="col">
            <label asp-for="Descripcion">Descripción</label>
            <textarea class="form-control" asp-for="Descripcion"></textarea>
            <span class="text-danger" asp-validation-for="Descripcion"></span>
        </div>

        <div class="col">
            <label asp-for="Autor">Autor</label>
            <input type="text" class="form-control" asp-for="Autor" />
            <span class="text-danger" asp-validation-for="Autor"></span>
        </div>

        <div class="col">
            <label asp-for="Marca">Marca</label>
            <input type="text" class="form-control" asp-for="Marca" />
            <span class="text-danger" asp-validation-for="Marca"></span>
        </div>

        <div class="col">
            <label asp-for="Imagen">URL Imagen</label>
            <input type="text" class="form-control" asp-for="Imagen" />
            <span class="text-danger" asp-validation-for="Imagen"></span>
        </div><br />


        <button type="submit" value="Registrar" class="btn btn-primary">Registrar</button>|
        <button type="submit" value="" class="btn btn-danger" asp-action="Index">Cancelar</button>

    </form>


</body>
</html>