﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Manga
@{
}
<div id="placeholderhere"></div>
<div id="details" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="details" class="modal-title">Detalles</h4>
                <button class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div>
                            <img class="product-image" src="@Model.Imagen" alt="">
                        </div>
                        <h2>@Model.Nombre</h2>
                        <div class="product-carousel-price">
                            <ins>$ @Model.Precio</ins>
                        </div>
                        <br />
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="product-option-shop">
                    <button type="button" data-save="modal" class="add_to_cart_button btn" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow">Agregar al carrito</button>
                    <button class="btn btn-danger" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>