﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Manga>

<!DOCTYPE html>
<html>
<head>
    <title>MangasExpress</title>
    <link rel="stylesheet" href="~/css/mangas.css">
</head>
<body>
    <h1>Todos los mangas</h1>
    <div class="single-product-area">
        <div class="container">
            <div class="row">
                @foreach (var manga in Model)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div>
                                <img class="product-image" src="@manga.Imagen" alt="">
                            </div>
                            <h2><a asp-controller="Mangas" asp-action="Details" asp-route-id="@manga.Id">@manga.Nombre</a></h2>
                            <div class="product-carousel-price">
                                <ins>$ @manga.Precio</ins>
                            </div>
                            <br />
                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow">Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    <div class="row">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1 </a></li>
                <li class="page-item"><a class="page-link" href="#">2 </a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>