﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Usuario

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="logo"></div>
    <div class="login-block">
        <h1>Registrarse</h1>
        <form class="login" asp-action="Create" asp-controller="Login" method="post">
            @Html.LabelFor(model => model.Correo)
            <div class="form-group">
                @Html.EditorFor(model => model.Correo, "", new { @class = "username", placeholder = "Correo" })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Contrasenia)
            <div class="form-group">
                @Html.EditorFor(model => model.Contrasenia, "", new { @class = "password", placeholder = "Contraseña" })
                @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
</body>
</html>