﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Usuario
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div class="logo"></div>
    <div class="login-block">
        <h1>Login</h1>
        <form class="login" asp-action="Index" asp-controller="Login" method="post">
            @Html.LabelFor(model => model.Correo)
            <div class="form-group">
                @Html.EditorFor(model => model.Correo, "", new { @class = "username", placeholder = "Correo"  })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Contrasenia)
            <div class="form-group">
                @Html.EditorFor(model => model.Contrasenia, "", new { @class = "password", placeholder = "Contraseña" })
                @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger" })
            </div>
            <div>
                <a asp-route="Create" class="left-text">¿Olvidaste tu contraseña?</a>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>

            <div class="texto">
                <a asp-action="Create" class="center-text">Registrarse</a>
            </div>
        </form>
    </div>
    


        @*<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>*@
        <!--<div class="logo"></div>
        <div class="login-block">
            <h1>Login</h1>
            <input type="text" value="" placeholder="Username" id="username" />
            <input type="password" value="" placeholder="Password" id="password" />
            <button>Submit</button>
        </div>-->


</body>
</html>