﻿body {
    background: #EEEEEE;
    background-size: cover;
    font-family: Montserrat;
}

.logo {
    width: 213px;
    height: 36px;
    margin: 30px auto;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #53A3FF;
    margin: 0 auto;
    margin-bottom:75px;
}

.left-text {
    float: right;
    margin-bottom:10px;
}
.center-text {
    padding: 1em;
    text-align: center;
    display: inline-block;
    text-decoration: none !important;
    margin: 0 auto;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.texto {
    width: 100%;
    text-align: center;
}



.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

    .login-block input {
        width: 100%;
        height: 42px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        font-size: 14px;
        font-family: Montserrat;
        padding: 0 20px 0 50px;
        outline: none;
    }

        /*.login-block input.username {
            background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
            background-size: 16px 80px;
        }

            .login-block input.username:focus {
                background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
                background-size: 16px 80px;
            }

        .login-block input.password {
            background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
            background-size: 16px 80px;
        }

            .login-block input.password:focus {
                background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
                background-size: 16px 80px;
            }*/

        .login-block input.username {
            background: #fff  20px top no-repeat;
            background-size: 16px 80px;
        }

            .login-block input.username:focus {
                background: #fff 20px bottom no-repeat;
                background-size: 16px 80px;
            }

        .login-block input.password {
            background: #fff 20px top no-repeat;
            background-size: 16px 80px;
        }

            .login-block input.password:focus {
                background: #fff  20px bottom no-repeat;
                background-size: 16px 80px;
            }

        .login-block input:active, .login-block input:focus {
            border: 1px solid #53A3FF;
        }

    .login-block button {
        width: 100%;
        height: 40px;
        background: #53A3FF;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #53A3FF;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        font-family: Montserrat;
        outline: none;
        cursor: pointer;
    }

        .login-block button:hover {
            background: #53A3FF;
        }
