﻿body {
}

ins {
    color: #1abc9c;
    font-weight: 700;
    margin-right: 5px;
    text-decoration: none;
}

.single-shop-product h2 {
    font-size: 20px;
    margin: 10px 0;
}

.single-shop-product {
    margin-bottom: 50px
}

.single-product-area {
    position: relative;
    overflow: hidden
}

.single-product-area .zigzag-bottom {
    background-color: #333333
}

.single-product-area {
    padding: 80px 0 130px;
}

.product-image {
    height: 275px !important;
    width: 200px !important;
}

.add_to_cart_button {
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    padding: 6px 25px;
    display: inline-block
}

.add_to_cart_button:hover {
    background-color: #53a3ff;
    color: #fff;
    text-decoration: none
}

.add_to_cart_button {
    background-color: #53a3ff
}

.customCarousel{
    width: 1200px;
    height: auto;
}

.mangas {
    text-align: center;
}

