﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.nav-item a {
    font-size: 17px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-bottom: 20%;
}

.footer {
    background: #53a3ff;
    position: absolute;
    padding-top: 35px;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
    /* margin: 5em 0em 0; */
}

.bg {
    background: #bcd5ff
}

.customCarousel {
    width: 60%;
    margin: auto;
    margin-bottom: 10em;

}
.d-block {
    max-height: 429.3px;
}
h1.titulo span {
    position: relative;
    display: table;
    background: #ffff;
    padding: 0 10px;
    margin: 0 auto;
    z-index:2;
}
h1.titulo::after {
    content: '';
    position: absolute;
    display: block;
    width: 85%;
    top: 30.5%;
    background-color: #000000;
    height: 3px;
    z-index: 1;
    display: block;
}

.owl-wrapper-outer {
    width: 2280px;
    left: 0px;
    display: block;
}
#image {
    padding-top: 30px;
    max-height: 407.33px;
}

.card-text{
    font-size: 20px;
}

.card-body{
    max-height: 104px;
}
