﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@model List<Manga>

<head>

    <link rel="stylesheet" href="~/css/mangas.css">
</head>

<body>
    <div class="container-fluid text-center mb-4">
        <div class="customCarousel">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://img.assinaja.com/assets/tZ/050/img/369468_1140x366.jpg" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://img.assinaja.com/assets/tZ/050/img/369472_1140x366.jpg" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://img.assinaja.com/assets/tZ/050/img/369489_1140x366.jpg" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div id="placeholderhere">
    </div>

    <h1 class="mangas">MANGAS</h1>
    <div class="single-product-area">
        <div class="container">
            <br />
            <div class="row">
                @foreach (var manga in Model)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div>
                                <img class="product-image" src="@manga.Imagen" alt="">
                            </div>
                            <h2><button class="btn nav-link" style="text-decoration:underline;" data-toggle="ajax-modal" data-target="#details" onclick="showModal(@manga.Id)">@manga.Nombre</button></h2>
                            <div class="product-carousel-price">
                                <ins>$ @manga.Precio</ins>
                            </div>
                            <br />
                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow">Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1 </a></li>
                <li class="page-item"><a class="page-link" href="#">2 </a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
@section scripts{
    <script type="text/javascript">
        function showModal(id) {
            var placeholderElement = $('#placeholderhere')
            var url = 'Home/Details' + '/' + id
            $.get(url).done(function (data) {
                placeholderElement.html(data)
                placeholderElement.find('.modal').modal('show')
            })
        }
        function destroyModal() {
            var placeholderElement = $('#placeholderhere')
            placeholderElement.find('.modal').modal('hide')
        }
    </script>
}